* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container h1 {
  margin-bottom: 28px;
}

#btn-submit {
  display: block;
  width: 100%;
  margin-top: 7px;
  cursor: pointer;
}

.p-message {
  border-radius: 0.25rem;
  padding: 5px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  margin-top: 14px;
  display: none;
}
