* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin-bottom: 16px;
}

button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: #98C379;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  border-radius: 6px;
  animation: button 1s ease;
}

button:hover {
  background-color: #119759;
}

.form-campo {
  margin-bottom: 16px;
}

.form-campo label {
  font-weight: bold;
  display: block;
}

.form-campo input {
  width: 100%;
  display: block;
  padding: 8px;
}

form {
  width: 400px;
}

form button {
  max-width: 150px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
